body {
  font-family: "Manrope", sans-serif;
  margin: 0;
  background-color: #FAFBFF;
}

.gradient-background {
  background: linear-gradient(300deg,  #62bada, #c3d7de, #c9e7f2);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


/* navbar  */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 10%;
  flex-wrap: wrap;
  position: relative;
}

.nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.nav-list li {
  margin-left: 20px;
}

.nav-list a {
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
}

.nav-list img {
  margin-left: 4px;
  padding-bottom: 2px;
}

.nav-items {
  display: flex;
  align-items: center;
}

.nav-items a {
  margin-right: 20px;
  text-decoration: none;
  color: #000;
}

.nav-button,
.hero-button {
  background-color: #4f46ba;
  padding: 16px 32px;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.nav-button:hover {
  background-color: #3a3797;
}



/* hero-section  */
h1 {
    font-size: 60px;
  }
  .hero-paragraph,p{
    font-size: 20px;
  }

.hero-description {
    max-width: 65%;
}

.bird-decor-left {
    position: absolute;
    left: 0px;
    bottom:30px
}
.bird-decor-right {
  float: right;
  padding-top: 40px;
}

.hero-section{
    height: 100vh;
}
.container {
  padding: 24px 10%;
}

.hero-items {
  display: flex;
  justify-content: center;
  align-items: center;
}


.hero-items img {
  max-width: 100%; /* Ensure image fits within its container */
  height: auto; /* Maintain aspect ratio */
 margin-bottom: 0px;


  object-fit: cover;
}
.hero-button {
  border-radius: 30px;
}

#hero-buttons {
  display: flex;
}
.video-link {
  display: flex;
  padding-left: 16px;
}
.video-link a {
  text-decoration: none;
  padding-top: 18px;
  padding-left: 8px;
}

.benifits {
  padding-top: 16px;
  display: flex;
  align-items: center;
}

.benifits p {
  padding-right: 32px;
  padding-left: 8px;
}

.hero-decor-blue-pic {
  position: absolute;
  bottom: 0px;
  right: 0px;
  max-height: 100vh;
}

/* companies  */
#companies{
   background-color:  #F5F6F8;
   text-align: center;
   padding: 42px 10%;
 
}

.company-row{
    display: flex;
    justify-content: space-around;
    padding: 12px;
    flex-wrap: wrap;


}
.company-row div {
    flex: 1;
    min-width: 100px; /* Ensures that logos don't become too small */
    margin: 10px;
  }
  
  .company-row img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }




  /* portfolio-tracking  */
  #portfolio-tracking{
    background-color: #FAFBFF;
  }
  .portfolio-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 42px;
    padding-bottom: 42px;
    flex-wrap: wrap;
    min-width: 20%;
    
  }
  .flex-column{
    width: 50%;
    padding-right: 40px;
  }
 
  .portfolio-row p, .card p, .choose-us-reasons p{
    font-size: 16px;

  }
  h2{
    font-size: 56px;
    margin-top:16px;
    margin-bottom: 8px;
  }
  .caption-card{
    padding: 32px;
    background-color: #C4C4C4;
    border-radius: 18px;
    width: 30%;
    margin-top: 34px;
    position: relative;
 
  }
  .quotation {
    position: absolute;
    background-color: #0000;
    top: -20px;

  }
 .card-container{

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;

   
  }
  

  .card{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 18px;
    max-width: 300px;
    background-color: white;
    border: solid #DBE4E9;
    border-radius: 10px;
   align-items: center;

  }

  .card-image-small{
    height: 10px;
     width:30px;
     background-color: black;
     margin-bottom: 2px;
  }
  .card-image-big{
    height: 30px;
     width:50px;
     background-color: #3734A9;
  }
  .container .card>h3{
    text-align:left
   }


   /* why choose us*/

   #choose-list{
    background-color: #FAFBFF;
   }

   .choose-us-reasons{
    width: 50%;
    
  
   }
   .choosing-list{
    list-style: none;
    padding-left: 0px;
   }
   .choosing-list li{
    display: flex;
    padding-bottom: 8px;
    

   }

   .circular--portrait{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #FDBC64;
    position: relative;
    margin-right: 8px;
    
   }

   .orange-checkbox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

   }


   
  
   .flex-choosing-reason{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 35px;
    
   }

   .cash-recieved, .total-balance-placeholder{
    background-color: #DFF6FF;
    padding: 24px;
    border-radius: 10px;
   
  
   }

   .notification-card{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 350px;
    display: flex;
    font-size: 14px;
    align-items: center;
    margin: 30px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   }

   .notification-card-2{
    position: relative;
    left: 90px;
   }
   .notification-card-3{
    position: relative;
    left: 60px;
   }

   .notification-card img{
    padding-right: 10px;
   }

   .cash{
    color: #3734A9;
    font-weight: bold;
    background-color: #EBEBF6;
    display: inline;
    padding: 5px;
    border-radius: 20px;
  
   

   }
.receiving{
  padding-top: 10px;
color:    #757095;
}


.flex-proper-transaction{
  display: flex;
 justify-content: space-between;
 align-items: end;
 flex-wrap: wrap;

}

.total-balance-placeholder{
  width: 30%;
  height: 400px;
  position: relative;
 
 
}

.total-balance-placeholder img {
  position: absolute;
  bottom: 0; /* Position the image at the bottom of the container */
  width: 100%; /* Ensure the image fills the entire width of the container */
  height: auto; /* Maintain aspect ratio */


}

.bargraph{
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 50%;
  width: 80%;
  border-radius: 10px;
  position: relative;
  font-size: 8px;
  z-index: 1;
  right: 50%;
  top:40%;
  padding:8px
}
.bargraph img{
  position: absolute;
  width: 90%;
  height: auto;


}


/* features  */
#features{
  background-color: #C9E7F2;
}

.features-card{
  align-items: start;
}

/* testimonials */
#testimonials{
  background-color: #FAFBFF;
  overflow: hidden;
 
}
#testimonials .container{
  padding-right: 0%;
}
.testimonial-container{
  display: flex;

}

#testimonials .caption-card{
  background-color: white;
  min-width: 50%;
  border: solid #CFCFCF;
  margin-right: 40px;
}
.testimonial-card{
  display: flex;
}

.testimonial-container {
  display: flex;
  transition: transform 0.5s ease; /* Add transition for smooth sliding */
}



/* numbers */
#numbers{
  background-color:#3734A9 ;
  color: white;
}

#numbers .container {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  grid-template-rows: 1fr;
  align-items: center;
}

#numbers p img{
  padding-right: 8px;
}

/* blogs */
#blogs{
  background-color: #FAFBFF;
}

.blog-card>h4{
  padding-top:24px;
}

.blog-card-container{
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap
  ;
  justify-content: space-between;
}

.blog-card{
  width: 100%;
  display: flex;
  justify-content: space-between;

}





.mini-blog-card{
  width: 30%;
  display: flex;
  flex-direction: column;
 
}
.blog-card-container p, .blog-card-container h3, .blog-card-container  h5{
  padding-left: 12px ;
  padding-top: 12px;
  margin-top: 0px;
}

.blog-card-container p{
  font-size: 16px;
  font-weight: 700;
  line-height: 36px;

}
.blog-card img{
  width: 50%;
  height: auto;
}
.mini-blog-card img{
 width: 100%;
 height: auto;
}

.blog-card, .mini-blog-card{
  background-color: white;
  margin-bottom: 24px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);

}

/* frequent questions  */
#questions{
  background-color: #FAFBFF;
}
.question-card{

  background-color: white;
  border-radius: 5px;
  border: solid  #DBE4E9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:8px 8px 8px 8px;
  margin-top: 12px;
  margin-right: 24px;
 
}
.question-card p, .question-card h4{
  font-size: 14px;
  margin: 0px;
  padding:0px;
}
.plus-sign p,.plus-sign{
padding: 0px;
display: inline;
 font-size: 32px;
  color: #3D3D3D;
}

.questions-container{
  display: flex;
  justify-content: space-between;
  
}

.more-questions { 
  flex-direction: column;
  text-align: center;
  align-content: center;
  justify-content: space-around;





}

.orange-button{
  background-color: #FF7F5C;
}



.discover-container{
  background-color: #3734A9;
  border-radius: 10px;
  text-align: center;
  padding: 32px;
  color: white;
  width: auto;
  height: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 24px;
 
}



.get-started-main .orange-button{
  z-index: 1;
  border-radius: 10px;
}

.get-started-main h2{
  font-size: 2.5rem;
  margin: 24px;



}
.dotvector{
  position: absolute;
  top: 30%;
  left:20%
}
.pizza-vector-one{
  position: absolute;
  top: 80%;
  left: 30%;

}
.pizza-vector-two{
  position: absolute;
  top: 50%;
  left: 70%;

}
.snake-vector{
  position: absolute;
  top: 70%;
  left: 10%;
}
.snake-vector-rotated{
  position: absolute;
  left: 70%;
  top: 10%;
  transform: rotate(90deg);
}

.footer-grid{
 
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr;
  grid-template-rows: 12fr;
  justify-content: flex-start;
  align-items: center;
}

.footer-grid p{
  font-size: 14px;
  color: #757095 ;
}


.footer-grid li{
  list-style: none;
  padding: 8px;


 
}

.newsletter-placeholder{
  display: flex;
}
.newsletter-placeholder input{
  font-size: 20px;

}
.social-icons img{
  padding-right: 8px;
  
}


.copyright p{
  padding-bottom: 24px;
  text-align: center;

}







@media (max-width: 768px) {
  .nav-list {
    flex-direction: column;
    display: none;
    width: 100%;
    background: white;
    position: absolute;
    top: 70px; 
    left: 0;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }

  .nav-list.nav-list-visible {
    display: flex;
  }

  .nav-list li {
    margin: 10px 0;
  }

  .nav-toggle {
    display: block;
    cursor: pointer;
  }

  .logo {
    flex-grow: 1;
  }

  .nav-items {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .nav-items a.sign-in {
    display: none;
  }

  .nav-items a {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .nav-button {
    width: 100%;
  }

  .container {
    padding: 0 5%;
  }

  .hero-items {
    flex-direction: column;
    text-align: center;
    
  }



  .hero-description {
    max-width: 100%;
    
  }

 #hero-buttons, .benifits{
    justify-content: center;
  }

  .hero-image {
    max-width: 40%;
    height: auto;
    padding-bottom: 0px;
  }
  .bird-decor-left,.bird-decor-right,.hero-decor-blue-pic{
    display: none;
  }
  h1 {
    font-size: 1.5rem;
  }
  .hero-paragraph p a{
    font-size: 16px;
  }
  .hero-button, .hero-image img{
    padding: 0px 24px 0px 24px;
    font-size: 14px;
    border-radius: 0px;
   
    
  }

  .portfolio-row{
    justify-content: center;
  }
  .portfolio-row h2, .portfolio-row p{
    text-align: center;
  }
  .choose-us-reasons{
    width: 100%;
  }

  .total-balance-placeholder {
    display: none;
  }

  .testimonial-card img{
    display: none;
  }


  .blog-card, .mini-blog-card{
    flex-direction: column;
    width: 100%;
  }
  .blog-card img{
    width: 100%;
  }

.blog-card-container{    
  flex-direction: column;
  }


  .questions-container{
    flex-direction: column;
    align-content: space-evenly;
  }
  .more-questions{
   padding: 24px;
  }
  .more-questions p{
    padding: 8px;
  }

  .discover-container img{
    display: none;
  }



  
}

@media (min-width: 769px) {
  .nav-toggle {
    display: none;
  }
  

  .nav-list {
    display: flex !important;
  }

}



